<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>Climate Solutions</title>
</head>
<body class="min-h-screen">
  <%- include('partials/navbar', {page: '/about'}) %>
      <div class="container mx-auto">
      <div class="hero bg-base-200 min-h-32 rounded-lg p-10">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">About</h1>
            <p class="py-6">
                Everything you want to know about me - the designer & developer.
            </p>
          </div>
        </div>
      </div>
      </div>
      <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 m-10">
            <div>
                <img class="w-full" src="/img.jpeg" alt="nature" />
            </div>
            <div>
                <p>My name is Sneha Maharjan and I'm currently studying at Seneca Polytechnic.</p><br>
                <p> I'm in second year of software development program. I'm someone who loves combining 
                    creativity with technology.I enjoy playing basketball and guitar in my free time, 
                    which helps me balance my passion for sports.It's a great way to stay fit, challenge myself, 
                    and unwind from the mental focus required in my studies. Besides these I love hiking ,
                    exploring nature and visiting different places.I'm always excited to learn about the 
                    latest trends in technology, especially in front-end development. </p>
            </div>

        </div>
      </div>
</body>
</html>